about-time @ file:///home/conda/feedstock_root/build_artifacts/about-time_1734962883440/work
alive-progress @ file:///home/conda/feedstock_root/build_artifacts/alive-progress_1734971203477/work
autograd @ file:///home/conda/feedstock_root/build_artifacts/autograd_1746451452558/work
cma @ file:///home/conda/feedstock_root/build_artifacts/cma_1668010068017/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1744743067588/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1737986966356/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1744798524990/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1751573318295/work
grapheme @ file:///home/conda/feedstock_root/build_artifacts/grapheme_1734963324128/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1751493866021/work
matplotlib==3.10.3
munkres==1.1.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1747544640217/work/dist/numpy-2.2.6-cp310-cp310-linux_x86_64.whl#sha256=d6d964caeef85d00073d27cd62b46883d275b3d8162f723f0fcabbd0b3cc3f9d
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1749099635701/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1751481981736/work
pymoo @ file:///home/conda/feedstock_root/build_artifacts/pymoo_1748309715882/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
PySide6==6.9.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1749487690589/work/dist/scikit_learn-1.7.0-cp310-cp310-linux_x86_64.whl#sha256=70f1a75eec730ad39d1de7603a85e2d091694943733e03fefa40748c9e8d7a1d
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790642651/work/dist/scipy-1.15.2-cp310-cp310-linux_x86_64.whl#sha256=9e52bad6c3294d1a5b04a13632118ca2157130603c6c018c2d710162b223b27e
shiboken6==6.9.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1748003301700/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692496989/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1736869474897/work
